body{
    background-image:url(/Media/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.number{
    padding: 15px;
    background-color: whitesmoke;
    border: solid black 2px;
    border-radius: 30px;
    width: 200px;
    height: 150px;
    font-size: 120px;
    color: black;
    text-align: center;
}

.btn{
    margin-top: -50px;
    background:transparent;
    border: solid cyan 2px;
    font-size: 30px;
    width: 150px;
    height: 60px;
    border-radius: 20px;
}


span{
    margin: -13px 0 0 -45px;
    background:cyan;
    width:0;
    height: 60px;
    border-radius: 20px;
    position:absolute;
    z-index: -1;
    justify-self: start;
    transition:0.2s;
}
.btn:hover span{
    width:150px;
}